/* reset */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}
/* globales */
body, .fondo{
    background-color:#201A23;
}
/* navbar */
body header .menu{
    background-color: #81726A;
}
.buscador{
    margin-top: 1rem;
}
.desplegable{
    display: flex;
    align-items: end;
    margin-left: 3rem;
}
.desplegable-2{
    background-color: #7E7F9A;
}
/* carrusel */
.div-carrusel{
    height: 8rem;
    margin-bottom: 2rem;
    display: flex;
}
.div-carrusel-g-img{
    display: flex;
    position: absolute;
}
.boton-carrusel{
    margin-top: 4rem;
}
.div-carrusel h1{
    display: flex;
    position: relative;
    left: 20%;
    bottom: 35%;
    color: aqua;
}
/* main */
.tienda{
    display: flex;
    display: block;
}
.img-deskt{
    display: none;
}
.tienda div img{
    width: 60%;
    margin: 3.5rem 20% 1.5rem 20%;
}
.tienda div{
    text-align: center;
}
.pie{
    margin-top: 3rem;
}
/* footer */
footer{
    background-color: #81726A;
    display: flex;
    justify-content: end;
    justify-content: space-between;
    margin-top: 1rem;
}
/* pagina productos */
main section div .imagen-venta{
    width: 60%;
    margin: 3.5rem 20% 1.5rem 20%;   
}
main section .nombres{
    text-align: center;
}
.comentario{
    color: #7E7F9A;
    margin-top: 1rem;
}
/* pagina nuestra historia */
.card-title{
    color: #E0B7B7;
}
.card-text{
    color: #E7A977;
}
.texto-1,.texto-2{
    text-align: center;
    width: 16rem;
    height: 16rem;
    margin: 2rem ;
    overflow: auto;
    background-color: #C04ABC;
    border: 1px solid #7E7F9A;
}
.presentacion{
    margin: 1rem;

}
.nuestra-historia h1{
    color: #06BA63;
    text-align: center;
}
.presentacion img{
    width: 90%;
    margin-left: 1rem;
}
/* iniciar sesion */
main .iniciar-sesion{
    border-radius: 6px;
    border: 4px solid #C04ABC;
    margin: 3rem;
    padding: 1rem 5rem ;
    text-align: center;
}
.iniciar-sesion .registro{
    color: #06BA63;
}
.iniciar-sesion .boton-form{
    margin: 1.5rem;
}
/* propiedades mq */
@media screen and (min-width:1000px) {
    /* nav */
    .menu{
        display: flex;
        display: grid;
        grid-template-rows: repeat(1fr);
    }
    .superior{
        width: 65rem;   
    }
    .img-carru{
        height: 50%;
    }
    .div-carrusel{
        height: 20rem;
        overflow: hidden;
    }
    .div-carrusel h1{
        display: flex;
        position: relative;
        left: 40%;
        bottom: 20%;
        color: aqua;
    }
    /* main */
    .tienda{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .img-deskt{
        display: block;
    }
    /* nuestra historia */
    .nuestra-historia h1{
        margin: 2rem;
    }
    main .usando-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3,1fr);
        
        grid-template-areas: 
        "texto-1 personas-1"
        "texto-2 personas-2"
        "exterior exterior";
    }
    section .texto-1{
        grid-area: texto-1;
    }
    section .texto-2{
        grid-area: texto-2;
    }
    section .foto-1{
        grid-area: personas-1;
    }
    section .foto-2{
        grid-area: personas-2;
    }
    section .foto-3{
        grid-area: exterior;
       
    }
    .presentacion{
    padding-top: 1rem;
    height: 30rem;
    }
    .card{
        height: 30rem;
        width: 30rem;
        padding-top: 5rem;
    }
    .foto-3 img{
     height: 100%;
     width: 95%;  
    }
    
}